body {
  background-color: #78c6d3;
}
.wrapper {
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.title {
  font-size: 50px;
  color: white;
  color: #af4d1c;
  margin: 0 0 20px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
}
.wrapper__cart {
  width: 100%;
}
